@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Saira:wght@700&display=swap');

:root {
 --primary-color:#033B3A;
 --secondary-color:#20C997;
 --gray:#4A4A4B;
 --bg-primary:#00F4AB0C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1,
h2{
  font-family: 'Saira', sans-serif;
}

ul{
 list-style: none;
}

a{
  text-decoration: none;
  
}

/*utility classes */
.container{
  max-width: 1100px ;
  margin: auto;
  padding: 0 2rem;
  background-color: 0;
}

.text-praymary {

  color: black;
}
.text-1praymary {
  color: orangered;
}

  
.btn-primay{
 background-color:#FF6C00;
 color: #fff;
 padding: 8px 20px;
font-size: 14px;
border: 0;
}

   
   /*header start*/
   header {
     background-color: var(--bg-primary);
     height: 100%;
    
     
   }
   
   header .navbar {
     background-color: #fff;
     border-bottom: 2px solid #ccc;
     position: fixed;
     width: 100%;
   }
   
   header .navbar nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1100px;
     margin: auto;
          padding: 1.5rem 2rem;
   }
   
   #home #logo {
     color: var(--primary-color);
     font-size: 24px;
     font-weight: 600;
   }
   
   header .navbar nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   header .navbar nav ul a {
     margin: 0 15px;
     color: var(--primary-color);
     font-weight: 600;
   }
   
   header .header-content {
     display: grid;
     grid-template-columns:1.5fr 1fr;
     align-items: center;
     margin: auto;
     max-width: 1100px;
     background-color: #00F4AB0C;
               padding:10rem 2rem 5rem;

          height: 100%;

   }
   
   header .header-content img {
     max-width: 450px;
     height: 350px;
     padding: 2rem 2rem 2rem;
      background-color:#00F4AB0C;
   }
   
   #home .header-content p span {
     font-weight: 700;
     font-size: 20px;
   }
   
   
   #home .header-content h1 {
     font-size: 60px;
     color: var(--primary-color);
     text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
     margin-top: 10px;
   }
      #home .header-cont.titile  {
        font-size: 20px;
        color: var(primary-color);
        margin: 10px 0;
        font-weight: 500;
        
      }
         #home .header-content .social{
           margin: 1rem 0 2rem;
         }
                  #home .header-content .social a i {
                   font-size: 18px;
                   padding: 10px;
                   background-color:var(--gray);
                   margin-right: 10px;
                   
                  color:#fff;
  border-radius: 50%;
 transition: all 0.3s ease;
  
}
                 
  #home .header-content .social a i :hover 
      {transform: scale(0.85)
      }
      

/*header end*/

/*About start*/

#about,
#skills, 
#services
{
  padding: 6rem 0;
  background: #00F4AB0C  
}

#about h2,
#skills h2, 
#services h2,
#report h2{
  text-align: center;
  font-size: 38px;
  color: var(--primary-color);
  font-weight: 600; 
  letter-spacing: 1px;
}


#skills hr, 
#about hr,
#services hr, 
#report hr{
  width: 150px;
  height: 3px;
  background-color: orangered;
  border: none;
  margin: 5px auto 0;
}

#about .about-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr ;
   column-gap: 3rem;
  
}
#about .about-content .col-1 h3{
  font-size: 28px;
  color: var(--gray);
  margin-bottom: 20px;
  
}
#about .about-content .col-1 p{
  color: (--gray);
  margin-bottom: 20px;
  line-height: 1.8;
}

#about .about-content .col-2 p{
  color: var(--gray);
  margin-bottom:20px;
  border-bottom: 2px solid #ddd;
}







/*About end*/


  /*services start*/
  #services, 
  #report
  {
    background: #00F4AB0C
  }
  
  #services .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #services .heading img{
    width: 55px;
    margin-right: 10px;
  }
  
  #services .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;
    
  }
  
  
    #services .row .item{
      background-color: #fff
      ;
      padding: 30px 15px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    /*services end*/
    
    /*content strat*/
    #report
    {
      padding: 4rem 0;
      
    }
    #report .row{
      margin-top:4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: #fff ;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
      padding: 2rem 3rem;
      border-radius:10px;
    }
   #report .row img{
     height: 450px;
   }
   #report .row input, #report .row textarea{
     display: block;
     width: 100%;
     margin: 20px 0;
     padding:10px ;
     background-color: #00F4AB0C;
     border: 1px solid #bbb ;
   }
    
    
   /*content end*/

    